<div class="title-container">
  <h1>Displays</h1>
</div>

<div class="rooms">
  <%= render @displays %>
</div>

<br>

<div class="row border">
	<div class="col-sm-12 col-md-6 col-lg-4 border">
		<h1>Hello</h1>
	</div>
	<div class="col-sm border">
		<h1>goodbye</h1>
	</div>
</div>