<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @display.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @display.description %>
</p>

<%= link_to 'Back', displays_path %>
