<div class="mapContainer">
<div class="mapButton">
	<button type="button" id='floor1'>Floor 1</button>
	<br>
	<br>
	<button type="button" id='floor2'>Floor 2</button>
	<br>
	<br>
	<button type="button" id='floor3'>Floor 3</button>
</div>
<div class="map">
	<img src="assets/TEGR_Floor1.jpg" alt="TEGR_Floor1" id="map" height=800 width=800>
</div>
</div>