<div class="codyhouse">
	<div class="egr-floors">
		<h2>TEGR Floor Maps</h2>
		<ul id="floor" class="nav nav-pills">
			<li class="nav-item">
				<a href="#floor1" class="nav-link active">Floor 1</a>
			</li>
			<li class="nav-item">
				<a href="#floor2" class="nav-link">Floor 2</a>
			</li>
			<li class="nav-item">
				<a href="#floor3" class="nav-link">Floor 3</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="floor1">
				<img src="assets/TEGR_Floor1.jpg" alt="TEGR_Floor1" id="map" height=800 width=800>
			</div>
			<div class="tab-pane fade" id="floor2">
				<img src="assets/TEGR_Floor2.jpg" alt="TEGR_Floor2" id="map" height=800 width=800>
			</div>
			<div class="tab-pane fade" id="floor3">
				<img src="assets/TEGR_Floor3.jpg" alt="TEGR_Floor3" id="map" height=800 width=800>
			</div>
		</div>
	</div>
</div>