<div class="welcome-title">
	<br><br><br>
	<h1>Welcome to TEGR Tours</h1>
	<p>[insert into/welcome text]</p>
</div>
<br><br><br><br>
<div class="icons">
	<%= link_to (image_tag "maps_icon.png", class: "icon-image"), root_path %>
	<%= link_to (image_tag "door_icon.png", class: "icon-image"), rooms_path %>
	<%= link_to (image_tag "shelf_icon.png", class: "icon-image"), root_path %>
	<%= link_to (image_tag "gem_icon.png", class: "icon-image"), root_path %>
</div>