<div class="room">
  <%= link_to room do %>
  <div class="compact">
    <%= image_tag "door_icon.png", class: "room-image" %>
    <div class="border border-light rounded">
      <h3><%= room.name %></h3>
    </div>
  </div>
  <%end%>
</div>