<div class="room">
	<% #link_to room, data: { toggle: "modal", target: "#roomModal", code: room.name, title: room.title, description: room.description, path: edit_room_path(room) } do %>
	<%= link_to room do %>
		<div class="compact">
			<%= image_tag "door.webp", class: "room-image" %>
			<div class="border border-light rounded">
			  <h3><%= room.name %></h3>
			</div>
		</div>
	<%end%>
</div>