<p id="notice"><%= notice %></p>

<div class="title-container">
  
</div>

<div class="container">
	<h1 class="text-center">Rooms</h1>
	<div class="row">
	  <% unless @rooms.empty? %>
	    <%= render @rooms %>
	  <%else%>
	    <h1>Looks like there are no rooms yet...</h1>
	  <%end%>
	</div>
</div>
