<p id="notice"><%= notice %></p>

<div class="title-container">
  <h1>Rooms</h1>
</div>

<div class="container">
	<div class="row">
	  <% unless @rooms.empty? %>
	    <%= render @rooms %>
	  <%else%>
	    <h1>Looks like there are no rooms yet...</h1>
	  <%end%>
	</div>
</div>
