<div class="col-xs-6 col-sm-4 col-lg-3">
	<%= link_to course do %>
		<div class="compact">
			<%= image_tag "door.webp", class: "room-image" %>
			<div class="row">
			  <h3 class="col border border-light rounded"><%= course.title %></h3>
			</div>
		</div>
	<%end%>
</div>