<div class="title-container">
  <h1>Courses</h1>
</div>
  
<div class="row">
  <% unless @courses.empty? %>
    <%= render @courses %>
  <%else%>
    <h1>Looks like there are no courses yet...</h1>
  <%end%>
</div>

<br>

<div class="push-footer"></div>