.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

/**** IMAGES ****/

/*
 TODO: Refactor all images thingies into one where image is given in html  
*/
.banner-image {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.map-image {
  background-image: image-url('homepage/maps.jpg');
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.compact {
  width: 50%;
}

.navbar .nav-item .nav-link {
  margin-top: -1px;
  margin-bottom: -1px;
}

.overlap-hor {
  margin-left: -1px;
  margin-right: -1px;
}

/**** WELCOME ****/

.welcome-title {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icon-image {
  width: 100px;
  height: auto;
}

/**** ROOMS ****/

.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.room {
  width: 20%;
  min-width: 200px;
  margin-bottom: 40px;
  margin-left: 5px;
  text-align: center;
}

.room-image {
  width: 100%;
  height: 50%;
}

.mask-light {
  position:absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;

}


/**** GENERAL ****/

.bg-cbublue {
  background-color: #0f2542 !important;
}

.spacer {
  height: 40px;
  width: 100%;
}