<div class="title-container">
  <h1>Artifacts</h1>
</div>
  
<div class="row">
  <% unless @artifacts.empty? %>
    <%= render @artifacts %>
  <%else%>
    <h1>Looks like there are no courses yet...</h1>
  <%end%>
</div>

<br>

<div class="push-footer"></div>